[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=espeak-qtgui
Name=espeak-qtgui
Name[hu]=Grafikus espeak
Comment=Text to Speech
Comment[hu]=Szövegfelolvasás
Comment[xx]=_yourlanguage_
GenericName=Text to Speech
GenericName[hu]=Szövegfelolvasás
GenericName[xx]=_yourlagnguage_
Icon=espeak-qtgui
Categories=AudioVideo;Audio;X-blackPantherOS-Multimedia-Sound;
MimeType=text/plain;image/bmp;image/tiff;image/jpeg;image/png;application/pdf;image/jpeg2000; 
Keywords=wordsreading;reading;espeak;
Keywords[hu]=szövegfelolvasás;felolvasás;espeak;
StartupNotify=true

